PORT=3000
PGHOST=localhost
PGPORT=5432
PGDATABASE=proyek_garuda
PGUSER=postgres
PGPASSWORD=isi_password_postgres_anda
SESSION_SECRET=ganti_dengan_secret_yang_kuat
ADMIN_USERNAME=admin
ADMIN_PASSWORD=GantiDenganPasswordAdminKuat
